<h1>Hi <%= @user.name %>,</h1>

<p>
  We are writing to let you know that we were unable to process your recent dividend payment.
</p>

<p>
  This can happen if the account details are incorrect, the account has been closed, or for other reasons specific to the receiving bank.
</p>

<p>To resolve this, please log in to your Flexile account and add a new, valid bank account. For your security, the previous bank account details have been removed.</p>

<p>If you have any questions, please reply to this email.</p>

<p>Best,<br>The Flexile Team</p>
