<h1>Your verification code</h1>

<p>Your verification code is: <strong><%= @otp_code %></strong></p>

<p>This code will expire in 10 minutes. If you didn't request this code, please ignore this email.</p>

<p>If you're having trouble, contact us at <a href="mailto:<%= ApplicationMailer::SUPPORT_EMAIL %>"><%= ApplicationMailer::SUPPORT_EMAIL %></a>.</p>
