---
http_interactions:
- request:
    method: post
    uri: https://api.clerk.com/v1/invitations
    body:
      encoding: UTF-8
      string: '{"email_address":"admin@example.com","expires_in_days":365,"ignore_existing":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer sk_test_0dKUpjwPcylQafykBIrx4KUHOwX6mOPyPZkmwjzdVz
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Clerk-Api-Version:
      - '2025-04-10'
      X-Cfworker:
      - '1'
      X-Clerk-Trace-Id:
      - 318ea6f606d9e48bf258cf1f698f139a
      X-Cloud-Trace-Context:
      - 318ea6f606d9e48bf258cf1f698f139a
    body:
      encoding: ASCII-8BIT
      string: '{"object":"invitation","id":"inv_30tQRPNqae8BaB7WOBmYy54ibyC","email_address":"admin@example.com","public_metadata":{},"status":"pending","url":"https://intent-polecat-11.clerk.accounts.dev/v1/tickets/accept?ticket=eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJlaXMiOjMxNTM2MDAwLCJleHAiOjE3ODU5ODAzODAsImlpZCI6Imluc18zMGhibDV1TkJONE42all4aTJXanRyUDdXelEiLCJzaWQiOiJpbnZfMzB0UVJQTnFhZThCYUI3V09CbVl5NTRpYnlDIiwic3QiOiJpbnZpdGF0aW9uIn0.bcAkggaCS3I95td9SGqco7hPDoX7gXxP6CfG_p2ac0eeqqDRd09S-541vRjgRfhTqLOUDLJCWueOQrOyf1r5hPdc2J2GG44wmG5ZzJTj1GwyW-cnfLbEfgiAifNsdiXzw9x8bwum4vhhcojUFvLyhUvkjxHTvBDTBdhiMK6IgCgF-ozMNng7ZDCOrOVpPZUu1F9LBWZU7GM8My-hGqhPqnWUtagSXCt-c0KdbU6GiCaIyGBzQxPIlmpbEYprcA8W-8z57tCRPELZGZcO75maWXVNTZ0ZS_8rV5fLAazoX5It6CA_CPUlYISni5Zqb7RfDOjhSLIJRSEq7NHLlaM73g","expires_at":1785980380714,"created_at":1754444380714,"updated_at":1754444380714}'
  recorded_at: Wed, 06 Aug 2025 01:39:40 GMT
recorded_with: VCR 6.3.1
